<ul class="menu-list">
  <li class="menu-item icon-menu-item">
    <svg-icon name="arrow-up-plus" class="icon-menu-item__icon" svgClass="icon_size_m"></svg-icon>
    <span class="icon-menu-item__content">Добавить метку выше</span>
  </li>
  <li class="menu-item icon-menu-item">
    <svg-icon name="arrow-down-plus" class="icon-menu-item__icon" svgClass="icon_size_m"></svg-icon>
    <span class="icon-menu-item__content">Добавить метку ниже</span>
  </li>
  <li class="menu-divider"></li>
  <li class="menu-item icon-menu-item">
    <svg-icon name="pen" class="icon-menu-item__icon" svgClass="icon_size_m"></svg-icon>
    <span class="icon-menu-item__content">Изменить метку</span>
  </li>
  <li class="menu-item icon-menu-item">
    <svg-icon name="heart" class="icon-menu-item__icon" svgClass="icon_size_m"></svg-icon>
    <span class="icon-menu-item__content">Добавить в избранное</span>
  </li>
  <li class="menu-item icon-menu-item">
    <svg-icon name="arrow-down-plus" class="icon-menu-item__icon" svgClass="icon_size_m"></svg-icon>
    <span class="icon-menu-item__content">Перенести в общие метки</span>
  </li>
  <li class="menu-divider"></li>
  <li class="menu-item icon-menu-item">
    <svg-icon name="trash-alt" class="icon-menu-item__icon" svgClass="icon_size_m"></svg-icon>
    <span class="icon-menu-item__content">Удалить метку</span>
  </li>
</ul>
