.btn {
  display: flex;
  align-items: center;
  color: grey;
  font-size: 12px;
  border-radius: 3px;

  &:hover {
    background-color: #eee;
    color: #202020;
  }

  &-label {
    margin-left: 3px;
    margin-right: 6px;
    word-break: normal;
  }

  &.btn_theme_outline {
    padding: 4px 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #555;
    font-size: 13px;
    line-height: 18px;
    transition: background-color .3s cubic-bezier(.4,0,.2,1);
  }

  &:disabled {
    pointer-events: none;
  }
}
