<div  class="page-todays">
  <div #header class="page-todays-header">
    <h1>
      <span>Сегодня</span
      ><small class="ml-2 page-todays-header__date">{{ today | date: 'EE d LLL' | capitalize }}</small>

    </h1>
    <div class="ml-auto">
      <button [tMenuTrigger]="sortMenu" class="btn btn-stroke">
        <svg-icon name="sort-alt" [svgStyle]="{ 'width.px': '24', 'height.px': 24 }"></svg-icon
        ><span class="btn-label">Сортировать</span>
      </button>
    </div>
  </div>
  <div class="page-todays-content">
    <t-overdue-todo-list></t-overdue-todo-list>

    <t-todays-todo-list [todos]="todays$ | async"></t-todays-todo-list>
  </div>
</div>
