:host {
  width: 300px;
  max-height: calc(88vh - 30px);
  min-height: 100px;
  padding: 10px 20px 20px;
}

.productivity-header h1 {
  font-size: 13px;
  margin: 10px 0;
}

.productivity-content {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.empty-state-productivity {
  .empty-state-header {
    margin-top: 18px;
  }
}
