<div class="auth-container">
  <div class="auth-frame">
    <div class="auth-logo"><a class="auth-logo__link" href="">Todoist</a></div>
    <div class="auth-content">
      <h1>Регистрация</h1>
      <div class="auth-actions">
        <button>
          <img height="16" width="16" src="/assets/img/svg/google-logo.svg" />
          Продолжить через Google
        </button>
        <button>
          <img height="16" width="16" src="/assets/img/svg/facebook-logo.svg" />
          Продолжить через Facebook
        </button>
        <button>
          <img height="16" width="16" src="/assets/img/svg/apple-logo.svg" />
          Продолжить через Apple
        </button>
      </div>
      <div class="separator long">
        <div class="separator-text">ИЛИ</div>
      </div>
      <form [formGroup]="form" class="auth-form">
        <div class="field">
          <label for="email">Email</label>
          <input formControlName="email" id="email" type="email" autocomplete="off" />
        </div>
        <div class="field">
          <label for="password">Password</label>
          <input formControlName="password" id="password" type="password" autocomplete="off" />
        </div>
        <button (click)="submit()" type="button" class="submit">Регистрация через Email</button>
      </form>
      <div class="registration-agreement">
        Продолжая с использованием аккаунта Google, Apple или Email, вы соглашаетесь с
        <a class="link primary" href="https://todoist.com/terms" target="_blank">Условиями использования</a> и
        <a class="link primary" href="https://todoist.com/privacy" target="_blank">Политикой конфиденциальности</a>
        Todoist.
      </div>
      <hr class="separator" />
      <div class="help-block">
        Уже зарегистрированы? <a class="link primary" routerLink="../login">Войти в систему</a>
      </div>
    </div>
  </div>
</div>
