<div class="content">
  <div class="search-emoji"></div>
  <div class="emojis-container">
    <div *ngIf="recent.emojis.length" class="emoji-group">
      <div class="emoji-group-name">{{ recent.title }}</div>
      <div class="emoji-group-list">
        <span (click)="select(emoji, false)" class="emoji-group-item" *ngFor="let emoji of recent.emojis">
          {{ emoji }}
        </span>
      </div>
    </div>
    <div *ngFor="let group of emojiGroups$ | async" class="emoji-group">
      <div class="emoji-group-name">{{ group.title }}</div>
      <div class="emoji-group-list">
        <span (click)="select(emoji)" class="emoji-group-item" *ngFor="let emoji of group.emojis">{{ emoji }}</span>
      </div>
    </div>
  </div>
</div>
<div class="nav">
  <button *ngFor="let item of nav">
    <svg-icon [name]="item" svgClass="icon_size_m"></svg-icon>
  </button>
</div>
