<div class="auth-container">
  <div class="auth-frame">
    <div class="auth-logo"><a class="auth-logo__link" href="">Todoist</a></div>
    <div class="auth-content">
      <h1>Забыли пароль?</h1>
      <p class="forgot-password-text">Чтобы задать новый пароль, введите Email-адрес своего аккаунта Todoist.</p>
      <form [formGroup]="form" class="auth-form">
        <div class="field">
          <label for="email">Email</label>
          <input formControlName="email" id="email" type="email" autocomplete="off" />
        </div>
        <button (click)="resetPassword()" type="button" class="submit">Сбросить пароль</button>
      </form>
      <div class="help-block">
        <hr />
        <a class="link primary" routerLink="../login" href="">Войти в систему</a>
      </div>
    </div>
  </div>
</div>
