<form class="comment-editor-form">
  <t-comment-editor [ngStyle]="{ 'display': state === statesMap.Editor ? 'block' : 'none' }"></t-comment-editor>
  <ng-container [ngSwitch]="state">
    <t-audio-recorder
      *ngSwitchCase="statesMap.AudioRecorder"
      (closeRecorder)="handleAudioRecorderClose($event)"
    ></t-audio-recorder>
  </ng-container>

  <div class="comment-editor-toolbar">
    <div class="comment-editor-tools">
      <button (click)="attach()" tTooltip="Прикрепить файл" class="comment-editor-tool">
        <svg-icon name="attachment" svgClass="icon_size_m"></svg-icon>
      </button>
      <butto (click)="recordAudio()" tTooltip="Записать аудио" class="comment-editor-tool">
        <svg-icon name="microphone" svgClass="icon_size_m"></svg-icon>
      </butto>
      <button tTooltip="Вставить эмодзи" class="comment-editor-tool">
        <svg-icon name="emoji" svgClass="icon_size_m"></svg-icon>
      </button>
    </div>
    <button (click)="comment()" tButton color="primary" class="comment-editor-submit">Комментировать</button>
  </div>
</form>
