:host {
  display: block;
  padding: 8px 16px 4px;
  border: 1px solid var(--post-comment-border-color);
  border-radius: var(--border-radius-large);
}

.comment-editor-form {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 8px 0;
  margin-bottom: 4px;
  border-radius: 3px;
}

.comment-editor-toolbar {
  border-top: 1px solid var(--divider-secondary);
  padding-top: 5px;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .comment-editor-tools {
    display: flex;
    gap: 4px;

    .comment-editor-tool {
      width: 32px;
      height: 32px;
    }
  }

  .comment-editor-submit {
    font-weight: bold;
  }
}
