:host {
  display: flex;
  position: relative;
  width: 260px;
  box-sizing: border-box;
  margin: 0 0 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--background-base-secondary);
  border: 1px solid var(--board-task-border-color);
  box-shadow: var(--board-task-box-shadow);
  cursor: pointer;
  transition-property: border-color, box-shadow, background-color;
  transition-duration: 0.3s;

  .details {
    margin-left: 8px;
    flex: 1;
    display: flex;
    flex-direction: column;

    .content {
      display: flex;
      flex-direction: column;
      position: relative;
      padding-right: 28px;

      .title {
        padding-top: 2px;
        font-size: 14px;
        line-height: 19px;
        word-wrap: break-word;
        word-break: break-word;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }

      .description {
        color: var(--board-task-description-color);
        font-size: 12px;
        word-wrap: break-word;
        word-break: break-all;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }

      .actions {
        position: absolute;
        right: 0;
        top: 0;
        padding-left: 12px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        opacity: 0;
      }
    }

    .meta {
      padding-top: 8px;

      .term {
        display: flex;
        align-items: center;
        color: var(--board-task-term-data-color);

        .term__date {
          margin-left: 4px;
          line-height: 12px;
          font-size: 12px;
        }
      }
    }
  }

  &:hover {
    .actions {
      opacity: 1;
    }
  }
}
