.auth-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-frame {
  border-radius: 8px;
  border: solid 1px var(--auth-frame-border-color);
  background: var(--auth-frame-background-color);
  padding: 25px;

  .auth-logo {
    margin-bottom: 14px;

    .auth-logo__link {
      display: inline-block;
      color: #dd4b39;
      text-decoration: none;
      font-size: 20px;
      font-weight: 600;
    }
  }

  .auth-actions {
    display: flex;
    flex-direction: column;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      min-width: 273px;
      margin-bottom: 10px;
      padding: 6px;
      border: 1px solid var(--auth-button-border-color);
      border-radius: 3px;
      box-sizing: border-box;
      background: var(--auth-button-background-color);
      color: var(--basic-button-basic-color);
      cursor: pointer;
      font-weight: 400;
      font-size: 13px;
      line-height: 24px;
      text-align: center;
      text-decoration: none;
      white-space: nowrap;

      img {
        margin-right: 8px;
      }
    }
  }

  .auth-content {
    width: 400px;

    h1 {
      font-size: 26px;
      font-weight: 700;
      color: var(--app-text-color);
      margin: 0 0 1.1em;
      padding: 0;
    }
  }

  .auth-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .field {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-bottom: 15px;

      &.invalid {
        input {
          border-color: #dd4b39;
        }
      }

      .error-message {
        padding: 0.5em 0;
        color: #dd4b39;
        font-size: 13px;
        font-weight: 500;
      }

      label {
        display: block;
        font-weight: 700;
        font-size: 13px;
        margin-bottom: 5px;
      }

      input {
        box-sizing: border-box;
        font-size: 13px;
        font-weight: 400;
        width: 100%;
        padding: 0.75em 1em;
        border: 1px solid var(--form-filed-border-color);
        background-color: var(--form-filed-background-color);
        color: var(--form-filed-color);
        border-radius: 5px;
      }
    }

    .submit {
      display: block;
      width: 100%;
      padding: 9px 12px;
      border-radius: 3px;
      border: 1px solid #db4c3f;
      box-sizing: border-box;
      background-color: #db4c3f;
      color: #fff;
      cursor: pointer;
      text-align: center;
      font-size: 13px;
      font-weight: 700;
      line-height: 17px;
    }
  }

  .help-block {
    color: var(--app-text-color);
    margin-top: 20px;
    text-align: center;
    font-size: 13px;
  }

  .link {
    color: #666;
    text-decoration: none;
    cursor: pointer;

    &.primary {
      color: #dd4b39;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  hr {
    margin: 1em 0;
    padding: 0;
    border: 0;
    color: #ddd;
    background-color: #ddd;
    height: 1px;
  }

  .separator {
    margin-top: 30px;
    margin-bottom: 30px;
    height: 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #fff;
    position: relative;

    &.long {
    }

    .separator-text {
      color: #777;
      font-size: 13px;
      top: -9px;
      left: 41%;
      position: absolute;
      padding: 0 16px;
      text-shadow: 0 1px 0 #fff;
      text-transform: uppercase;
      background-color: #fff;
    }
  }
}
