<a href="" class="menu-item">
  <svg-icon name="question-circle" svgClass="icon_size_m"></svg-icon>
  <span class="label">Help</span>
</a>
<a href="" class="menu-item">
  <svg-icon name="pen" svgClass="icon_size_m"></svg-icon>
  <span class="label">Blog</span>
</a>
<a href="" class="menu-item">
  <svg-icon name="template" svgClass="icon_size_m"></svg-icon>
  <span class="label">Templates</span>
</a>
<a href="" class="menu-item">
  <svg-icon name="keyboard-shortcuts" svgClass="icon_size_m"></svg-icon>
  <span class="label">Keyboard shortcuts</span>
  <span class="keyboard-shortcuts">
    <kbd><kbd>?</kbd></kbd>
  </span>
</a>
<hr />
<button class="menu-item command-menu-item">
  <div class="command-menu-item-content">
    <svg-icon name="command-line" svgClass="icon_size_m"></svg-icon>
    <span class="label">New: command menu</span>
    <span class="keyboard-shortcuts">
      <kbd>
        <kbd>⌘</kbd>
        <kbd>K</kbd>
      </kbd>
    </span>
  </div>
  <div class="command-menu-item-description offset-for-icon">
    Use
    <span class="keyboard-shortcuts">
      <kbd>
        <kbd>⌘</kbd>
        <kbd>K</kbd>
      </kbd>
    </span>
    to navigate Todoist with your keyboard!
  </div>
</button>
<a href="" class="menu-item send-feedback">
  <span class="offset-for-icon label">Send feedback</span>
</a>
<hr />
<a href="" class="menu-item">
  <svg-icon name="getting-started-guide" svgClass="icon_size_m"></svg-icon>
  <span class="label">Getting started guide</span>
</a>
<a href="" class="menu-item">
  <svg-icon name="lightbulb-on" svgClass="icon_size_m"></svg-icon>
  <span class="label">What's new</span>
</a>
<hr />
<a href="" class="menu-item">
  <svg-icon name="sync" svgClass="icon_size_m"></svg-icon>
  <span class="label">Sync</span>
</a>
<div class="menu-item last-synced not-selectable">Sync last completed:</div>
