.header-extra-toolbar {
  display: flex;
  align-items: center;
  justify-content: center;

  &__item {
    margin-left: 6px;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    border-radius: 3px;

    &:hover {
      background-color: hsla(0, 0%, 100%, 0.2);
    }
  }

  .progress-count {
    white-space: nowrap;
    margin-left: 5px;
    line-height: 1;
    font-size: 12px;
    font-weight: 400;
  }
}

.settings-btn {
  display: flex;
  align-items: center;
  margin-left: 6px;

  .user-avatar {
    height: 28px;
    width: 28px;
    border: 2px solid transparent;
    border-radius: 50%;
    box-sizing: content-box;
  }
}
