<header *let="tag$ | async as tag" class="header">
  <h1 role="header">{{ tag.title }}</h1>
  <div class="header-actions">
    <button [tMenuTrigger]="menu" class="header-action" tButton theme="icon-button">
      <svg-icon name="sliders-h" svgClass="icon_size_m"></svg-icon>
      <span class="inner">Отображение</span>
    </button>
  </div>
</header>
<t-todo-list [displayAddButton]="true" class="todos">
  <t-todo
    *ngFor="let todo of todos$ | async as todos; trackBy: trackById"
    [todo]="todo"
    [todoCount]="todos.length"
    [showTerm]="true"
    [termFormatFn]="termFormatFn"
    [isOverdue]="true"
  ></t-todo>
</t-todo-list>

