<form [formGroup]="form" class="task-editor">
  <div class="task-editor__editing-area">
    <div class="task-editor__input-fields">
      <input
        (keydown)="focusNextField($event)"
        formControlName="title"
        type="text"
        placeholder="Напр., Купить подарок завтра а 18:00"
        class="task-editor__content-field"
      />
      <textarea
        formControlName="description"
        autosize
        placeholder="Описание"
        class="task-editor__description-field"
      ></textarea>
    </div>
    <div class="task-editor__tools">
      <div class="task-editor__left-tools">
        <button class="schedule-btn btn btn_theme_outline">
          <svg-icon name="calendar-solid" svgClass="icon_size_s-2"></svg-icon>Вчера
        </button>
        <button class="project-assign-btn btn btn_theme_outline">
          <svg-icon name="inbox" svgClass="icon_size_s-2"></svg-icon>Входящие
        </button>
        <button *ngIf="false"><svg-icon></svg-icon></button>
      </div>
      <div class="task-editor__right-tools">
        <t-add-tags-button [(tagIds)]="tagIds"></t-add-tags-button>
        <t-update-priority-button [(priority)]="priority"></t-update-priority-button>
        <button tButton theme="icon-button" (click)="addReminder()">
          <svg-icon name="alarm-clock" svgClass="icon_size_m"></svg-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="task-editor__actions">
    <button (click)="addTask()" tButton color="primary" [disabled]="formInvalid$ | async" type="submit">
      Add task
    </button>
    <button (click)="cancel()" tButton>Cancel</button>
  </div>
</form>
