<app-expansion-panel tag="projects">
  <app-expansion-panel-header>
    <div class="panel-header">
      <span>Проекты</span>
      <button (click)="create($event)" tButton theme="icon-button" class="create-project">
        <svg-icon name="small-plus" svgClass="icon_size_xs-2"></svg-icon>
      </button>
    </div>
  </app-expansion-panel-header>
  <app-expansion-panel-body>
    <ul class="nav-list" cdkDropList (cdkDropListDropped)="drop($event)">
      <li
        class="nav-list-item-container"
        *ngFor="let project of projects; trackBy: projectTrackyBy"
        cdkDrag
        [cdkDragData]="project"
      >
        <div [routerLink]="['project', project.id]" routerLinkActive="active">
          <t-nav-list-item
            [todoCount]="3"
            [color]="project.color"
            [icon]="project | projectIcon"
            [hasMenu]="true"
            [menu]="projectActionsMenu"
          >
            <span>{{ project.title }}</span>
            <button class="nav-list-item__replace-tool" cdkDragHandle>
              <svg-icon name="drag" svgClass="icon_size_m"></svg-icon>
            </button>
            <button
              [tMenuTrigger]="projectActionsMenu"
              [menuData]="project.id"
              class="nav-list-item__menu-btn"
              type="button"
            >
              <svg-icon name="x-menu" [svgStyle]="{ 'width.px': 15, 'height.px': 3 }"></svg-icon>
            </button>
          </t-nav-list-item>
        </div>
      </li>
    </ul>
  </app-expansion-panel-body>
</app-expansion-panel>
