:host {
  width: 250px;
  max-height: 600px;
  padding: 0;
  border: none;
  box-shadow: 0 1px 8px 0 rgb(0 0 0 / 8%), 0 0 1px 0 rgb(0 0 0 / 30%);

  .menu-divider {
    margin: 0;
  }
}

.scheduler-date-field {
  display: flex;
  flex-shrink: 0;
  padding: 8px 10px 8px 13px;

  input {
    width: 100%;
    line-height: 24px;
    box-sizing: border-box;
  }
}

.scheduler-preview {
  display: flex;
  flex-direction: column;
  padding: 8px 10px;

  .scheduler-preview-content {
    margin-bottom: 8px;
    display: flex;
  }

  .scheduler-preview-date {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    flex: 1;
    font-weight: 600;
    text-align: left;

    .scheduler-preview-date-tasks {
      font-weight: 400;
      font-size: 10px;
      color: #999;
    }
  }

  .scheduler-preview-help {
    color: #999;
    font-size: 10px;
    font-weight: 400;
    background-color: #fff;
    white-space: normal;

    p {
      margin: 0;

      &:first-child {
        margin-bottom: 8px;
      }
    }

    a {
      text-decoration: underline;
    }
  }
}

.scheduler-actions {
  padding: 8px 10px;
}

.add-time {
  line-height: 24px;
  color: #d1453b;
  font-weight: 600;
}
