<ul *ngIf="(todo$ | async) as todo" class="menu-list">
  <li appMenuClose class="menu-item icon-menu-item">
    <svg-icon class="icon-menu-item__icon" svgClass="icon_size_m" name="pen"></svg-icon>
    <div class="icon-menu-item__content">Изменить задачу</div>
  </li>
  <li class="menu-item">
    <a class="icon-menu-item d-block" [routerLink]="['/project', todo.projectId]">
      <svg-icon class="icon-menu-item__icon" svgClass="icon_size_m" name="list"></svg-icon>
      <div class="icon-menu-item__content">Перейти к проекту</div>
    </a>
  </li>
  <li class="menu-divider"></li>
  <li class="section-menu-item">
    <div class="section-menu-item__label">Срок</div>
    <t-todo-schedule-holder (scheduleChange)="updateTodoSchedule($event)" [date]="todo.endDate"></t-todo-schedule-holder>
  </li>
  <li class="section-menu-item">
    <div class="section-menu-item__label">Приоритет</div>
    <t-todo-priority-list [selectedPriority]="todo.priorityId" (onselect)="updatePriority($event)"></t-todo-priority-list>
  </li>
  <li class="menu-divider"></li>
  <li class="menu-item icon-menu-item">
    <svg-icon class="icon-menu-item__icon" svgClass="icon_size_m" name="alarm-clock"></svg-icon>
    <div class="icon-menu-item__content">Напоминания</div>
  </li>
  <li class="menu-divider"></li>
  <li class="menu-item icon-menu-item">
    <svg-icon class="icon-menu-item__icon" svgClass="icon_size_m" name="arrow-circle-right"></svg-icon>
    <div class="icon-menu-item__content">Перенести в проект</div>
  </li>
  <li class="menu-item icon-menu-item">
    <svg-icon class="icon-menu-item__icon" svgClass="icon_size_m" name="rect-plus"></svg-icon>
    <div class="icon-menu-item__content">Дублировать</div>
  </li>
  <li class="menu-item icon-menu-item">
    <svg-icon class="icon-menu-item__icon" svgClass="icon_size_m" name="link"></svg-icon>
    <div class="icon-menu-item__content">Скопировать ссылку на задачу</div>
  </li>
  <li class="menu-divider"></li>
  <li (click)="removeTodo()" class="menu-item icon-menu-item danger-menu-item">
    <svg-icon class="icon-menu-item__icon" svgClass="icon_size_m" name="trash-alt"></svg-icon>
    <div class="icon-menu-item__content">Удалить задачу</div>
  </li>
</ul>
