:host {
  display: block;
  position: relative;
  height: 100%;
}

.header {
  padding: 36px 55px 28px;
  display: flex;
  align-items: center;

  h1 {
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .header-actions {
    margin-left: auto;
    display: flex;
    align-items: center;

    .header-action {
      margin-left: 16px;
    }
  }
}

.tooltip {
  white-space: nowrap;
}

.loading-message {
  font-size: 15px;
  color: #aeaeae;
}
