<ng-container *ngIf="!(loading$ | async)">
  <ng-container *ngIf="project$ | async as project; else projectNotFound">
    <header class="header">
      <h1 role="header">{{ project.title }}</h1>
      <div class="header-actions">
        <button tTooltip="Комментарии" class="header-action" tButton theme="icon-button">
          <svg-icon name="comment" svgClass="icon_size_m"></svg-icon>
          <span *tShowOnDesktop class="inner">Комментарии</span>
        </button>
        <button tTooltip [tlpTemplate]="generalAccessTooltip" class="header-action" tButton theme="icon-button">
          <svg-icon name="user-light-plus" svgClass="icon_size_m"></svg-icon>
          <span *tShowOnDesktop class="inner">Общий доступ</span>
        </button>
        <button tTooltip="Отображение" class="header-action" tButton theme="icon-button">
          <svg-icon name="sliders-h" svgClass="icon_size_m"></svg-icon>
          <span *tShowOnDesktop class="inner">Отображение</span>
        </button>
        <button
          tTooltip
          [tlpTemplate]="additionalProjectActionsTooltip"
          class="header-action"
          tButton
          theme="icon-button"
        >
          <svg-icon name="ellipsis-h-alt-large" svgClass="icon_size_m"></svg-icon>
        </button>
      </div>
    </header>

    <div class="board-container">
      <div class="board" role="listbox">
        <section *ngFor="let status of project.statuses; trackBy: trackByID">
          <header class="board-section__header">
            <div class="board-section__section-info">
              {{ status.title }}
              <span>{{ status.todos?.length }}</span>
            </div>
            <button tButton theme="icon-button">
              <svg-icon name="ellipsis-h-alt-large" svgClass="icon_size_m"></svg-icon>
            </button>
          </header>
          <div *ngFor="let todo of status.todos" class="board-section__todos">
            <t-todo-board-card [todo]="todo"></t-todo-board-card>
          </div>
          <footer class="board-section__footer"></footer>
        </section>
      </div>
    </div>
  </ng-container>
</ng-container>

<ng-template #generalAccessTooltip>
  <div class="tooltip sm-space">
    <span class="mr-2">Общий доступ к проекту</span>
    <span class="key mr-1">&#x21E7;</span><span class="key">S</span>
  </div>
</ng-template>

<ng-template #additionalProjectActionsTooltip>
  <div class="tooltip sm-space">
    <span class="mr-2">Открыть доп. действия в проекте</span><span class="key">W</span>
  </div>
</ng-template>

<ng-template #projectNotFound>
  <t-project-not-found></t-project-not-found>
</ng-template>

<ngx-spinner
  bdColor="transparent"
  size="medium"
  type="ball-clip-rotate-pulse"
  color="#aeaeae"
  [name]="projectLoaderName"
  [fullScreen]="false"
>
  <div class="loading-message">Project is loading ...</div>
</ngx-spinner>
