<article *ngIf="todos?.length" class="todo-list">
  <header class="todo-list-header">
    <h2 class="todo-list-title">
      <a href="">Сегодня - {{ now | date: 'EE d LLL' | capitalize }}</a>
    </h2>
  </header>
  <ul class="todo-list-content" cdkDropList (cdkDropListDropped)="drop($event)">
    <li>
      <t-todo
        cdkDrag
        *ngFor="let todo of todos; trackBy: todoTrackBy"
        [todo]="todo"
        [todoCount]="todos.length"
        [showTerm]="todo.hasEndTime"
        [termFormatFn]="termFormatFn"
      ></t-todo>
    </li>
  </ul>
</article>
