<app-expansion-panel tag="filters">
  <app-expansion-panel-header>Фильтры</app-expansion-panel-header>
  <app-expansion-panel-body>
    <ul class="nav-list" cdkDropList (cdkDropListDropped)="drop($event)">
      <li *ngFor="let filter of filterList; trackBy: trackyBy" cdkDrag class="nav-list-item-container">
        <a href="" [routerLink]="'./projects/' + filter.id">
          <t-nav-list-item [color]="filter.color" [hasMenu]="true" icon="tint">
            <span>{{ filter.title }}</span>
            <button class="nav-list-item__replace-tool" cdkDragHandle>
              <svg-icon name="drag" svgClass="icon_size_m"></svg-icon>
            </button>
          </t-nav-list-item>
        </a>
      </li>
    </ul>
  </app-expansion-panel-body>
</app-expansion-panel>
