<ul class="menu-list">
  <li class="menu-item icon-menu-item">
    <svg-icon class="icon-menu-item__icon" svgClass="icon_size_m" name="calendar-solid"></svg-icon>
    <span class="icon-menu-item__content">Сортировать по сроку выполнения</span>
  </li>
  <li class="menu-item icon-menu-item">
    <svg-icon class="icon-menu-item__icon" svgClass="icon_size_m" name="transparent-flag"></svg-icon>
    <span class="icon-menu-item__content">Сортировать по приоритету</span>
  </li>
  <li class="menu-item icon-menu-item">
    <svg-icon class="icon-menu-item__icon" svgClass="icon_size_m" name="font"></svg-icon>
    <span class="icon-menu-item__content">Сортировать по алфавиту</span>
  </li>
  <li class="menu-item icon-menu-item">
    <svg-icon class="icon-menu-item__icon" svgClass="icon_size_m" name="user"></svg-icon>
    <span class="icon-menu-item__content">Сортировать по исполнителю</span>
  </li>
  <li class="menu-item icon-menu-item">
    <svg-icon class="icon-menu-item__icon" svgClass="icon_size_m" name="cog"></svg-icon>
    <span class="icon-menu-item__content">Пользовательская сортировка</span>
  </li>
</ul>
