:host {
  display: inline-flex;

  &.checked {
    .switch-bar {
      background-color: #058527;
    }

    .switch-thumb {
      left: 17px;
    }
  }
}

.switch-bar {
  background-color: var(--switch-bar-color);
  width: 32px;
  height: 18px;
  border-radius: 9px;
  cursor: pointer;
  position: relative;
}

.switch-thumb {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #fff;
  transition: left 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

.switch-input {
  display: none;
}

.switch-label {
  margin-left: 8px;
  color: var(--switch-label-color);
  font-size: 14px;
  font-weight: 400;

  &:empty {
    display: none;
  }
}
