
<!-- <div class="wrap">
  <t-date-scheduler></t-date-scheduler>
  <t-create-task></t-create-task>
</div> -->
<t-upcoming-calendar></t-upcoming-calendar>
<div class="task-container">
  <div class="task-container-scrollable">
    <div class="task-container-scrollable__content">
      <div class="task-container-scrollable__inner">
        <t-overdue-todo-list></t-overdue-todo-list>
        <div class="section-container" *ngFor="let date of dates">
          <t-date-tasks-section [date]="date"></t-date-tasks-section>
          <t-create-task></t-create-task>
        </div>
      </div>
    </div>
  </div>
</div>
