.header-main-toolbar {
  display: flex;
  align-items: center;

  &__menu-btn {
    margin-right: 4px;
  }

  &__home-btn {
    margin-right: 6px;
  }

  &__menu-btn, &__home-btn {
    border-radius: 3px;
    padding: 2px;
    width: 28px;
    height: 28px;

    &:hover {
      background-color: hsla(0,0%,100%,.2);
    }
  }
}
